<!-- 页眉背景设置 -->
<header class="container  " id="banner">
	<div class="headerunit"></div>
	<div class="jumbotron center-block opacity50" id="headerTron1"
	style="width: 600px; height: 200px; margin-top: -200px;">
		<h2><strong>这是我的个人网站</strong></h2>
	</div>
	<div class="jumbotron center-block" id="headerTron2"
	style="width: 600px; height: 100px; margin-top: -30px;">
		<span class="label label-success">请联系我---->QQ:513485241</span>
	</div>
</header>

<div class="container">
	<div class="jumbotron">
		<h3>我的BootStrap+JQuery之路</h3>
		<p>
			这是我的一次尝试，喜欢做网页的感觉
		</p>
		<p>
			<a class="btn btn-primary btn-lg" role="button">Learn more</a>
		</p>

		<span class="label label-default">Default</span><span
		class="label label-primary">Primary</span><span
		class="label label-success">Success</span><span
		class="label label-info">Info</span><span
		class="label label-warning">Warning</span><span
		class="label label-danger">Danger</span>

	</div>
</div>

<div class="container">
	<section id="photo">
		<div id="carousel-example-captions" class="carousel slide"
		data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-captions" data-slide-to="0"
				class="active"></li>
				<li data-target="#carousel-example-captions" data-slide-to="1"></li>
				<li data-target="#carousel-example-captions" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="/images/girl1.jpg" alt="First slide image">
					<div class="carousel-caption">
						<h3>First slide label</h3>
						<p>
							Nulla vitae elit libero, a pharetra augue mollis interdum.
						</p>
					</div>
				</div>
				<div class="item">
					<img src="/images/girl2.jpg" alt="Second slide image">
					<div class="carousel-caption">
						<h3>Second slide label</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
					</div>
				</div>
				<div class="item">
					<img src="/images/girl3.jpg" alt="Third slide image">
					<div class="carousel-caption">
						<h3>Third slide label</h3>
						<p>
							Praesent commodo cursus magna, vel scelerisque nisl
							consectetur.
						</p>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-captions"
			data-slide="prev"> <span
			class="glyphicon glyphicon-chevron-left"></span> </a><a class="right carousel-control" href="#carousel-example-captions"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span> </a>
		</div>
	</section>
</div>
<div class="container">
	<section id="say">
		
		
		
	</section>
</div>