<link rel='stylesheet' href='/stylesheets/reg.css'/> 
<link rel='stylesheet' href='/stylesheets/login.css'/>
<div class="container">
<div id="loginform">
	<div id="facebook">
		<img src="/images/9.png" />
		<div id="connect">
			用Facebook
		</div>
	</div>
	<div id="mainlogin">
		<div id="or">
			或者
		</div>
		<h1>登陆</h1>
		<form  class="form-horizontal" role="form"  method="post" >
			<input type="text" class="form-control" placeholder="用户名"  name="username" id="username" value="" required style="padding-top:-20px ">
			</br>
			<input type="password"  class="form-control" placeholder="密码" value="" name="password" id="password" required>
			<button type="submit">
				<i class="glyphicon glyphicon-arrow-right"></i>
			</button>
		</form>
		<div id="note">
			<a href="#">忘记密码?</a>
		</div>
	</div>
</div>
	<!--
	<div class="container">
	<form class="form-horizontal" role="form" method="post">
	<fieldset>

	<legend>
	用户登录
	</legend>
	<div class="form-group">
	<label for="username" class="col-sm-3 control-label">用户名</label>
	<div class="col-sm-8">
	<input type="text" class="form-control" name="username" id="username" placeholder="用户名" required autofocus>
	</div>
	</div>
	<div class="form-group">
	<label for="password" class="col-sm-3 control-label">密码</label>
	<div class="col-sm-8">
	<input type="password" class="form-control" name="password" id="password" placeholder="密码" required>
	</div>
	</div>

	<div class="form-group">
	<div class="col-sm-offset-3 col-sm-8">
	<button type="submit" class="btn btn-lg btn-block btn-success">
	登录
	</button>

	</div>
	</div>

	</fieldset>
	</form>
	</div>
	-->
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

