<section>
	<input type="radio" id="profile" value="1" name="tractor" checked='checked' />
	<input type="radio" id="settings" value="2" name="tractor" />
	<input type="radio" id="posts" value="3" name="tractor" />
	<input type="radio" id="books" value="4" name="tractor" />

	<nav>
		<label for="profile" class='fontawesome-camera-retro'></label>
		<label for="settings" class='fontawesome-film'></label>
		<label for="posts" class='fontawesome-calendar'></label>
		<label for="books" class='fontawesome-list-alt'></label>
	</nav>

	<article class='uno'>
		<h2><img alt=''  src='/images/nature/img4.png' /> 匡力&nbsp;&nbsp;Kevin Kong <span>Tel:13661411500--Email:kuanglijiayou@126.com</span></h2>
		<footer>
			<ul>
				<li class='fontawesome-link'></li>
				<li class='fontawesome-paper-clip'></li>
				<li class='fontawesome-sitemap'></li>
				<li class='fontawesome-wrench'></li>
				<li class='fontawesome-magic'></li>
			</ul>
		</footer>
	</article>

	<article class='dos fontawesome-wrench'>
		<p>
			1988-04-13于重庆北碚
		</p>
		<p>
			高中-西南大学附中
		</p>
		<p>
			2010年本科毕业于武汉大学国际软件学院软件工程
		</p>
		<p>
			2010-至今与国信朗讯公司工作(通信行业)
		</p>
	</article>

	<article class='tres fontawesome-file-alt'>
		<ol>
			<li>
				java\nodejs\andriod\ios\lucene\activiti\arcgis\flex\jquery\phonegap
			</li>
			<li>
				java+swing+jloox cs架构实现的传输管线系统
			</li>
			<li>
				arcgis+flex实现传输管线BS系统
			</li>
			<li>
				activiti+flex实现的光路调度流程系统
			</li>
			<li>
				nodejs+express+mongodb实现的个人BLOG
			</li>
			<li>
				andriod管线手机版
			</li>
		</ol>
	</article>

	<article class='cuatro fontawesome-copy'>
		<dl>
			<dt>
				爱好
			</dt>
			<dd>
				各种球类，音乐，游戏，看书
			</dd>
			<dt>
				性格
			</dt>
			<dd>
				中性
			</dd>
			<dt>
				籍贯
			</dt>
			<dd>
				重庆北碚&nbsp;&nbsp; 汉族
			</dd>
		</dl>
	</article>
</section>
</br>
</br>
</br>
</br>
